language: android
dist: focal
android:
  components:
    - tools
    - platform-tools
    - build-tools-29.0.2
    - android-29
    - extra-android-m2repository
    - extra-google-m2repository
jdk:
  - openjdk11
  - oraclejdk11
script:
  - ./gradlew clean build
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
before_install:
  - yes | sdkmanager "platforms;android-29"
  - yes | sdkmanager "platforms;android-28"
