[versions]
# Project
version_code = "20300"
version_name = "2.3.0"
android_gradle_plugin = "8.1.1"
kotlin = "1.9.0"
android_sdk_compile = "34"
android_sdk_target = "33"
android_sdk_min = "24"

# Plugins
ksp = "1.9.10-1.0.13"
dependencyanalysis = "1.22.0"

# General dependencies
logging = "3.0.5"
logback = "1.2.11"
logcat = "0.1"

# KotlinX
kotlinx_coroutines = "1.7.3"
kotlinx_serialization = "1.6.0"
kotlinx_collections_immutable = "0.3.5"
kotlinx_datetime = "0.4.1"

# AndroidX
core = "1.12.0"
appcompat = "1.6.1"
material = "1.9.0"
constraint = "2.0.4"
corektx = "1.12.0"
playcore = "1.10.3"
datastore = "1.1.0-alpha05"
glance = "1.0.0"
workmanager = "2.8.1"
lifecycle_viewmodel = "2.6.2"

# Compose
compose_compiler = "1.5.1"
compose_bom = "2023.08.00"
compose_nav = "2.5.3"
compose_viewmodel = "2.6.1"
compose_activity = "1.7.1"
compose_material3 = "1.0.1"
compose_icons = "1.4.2"
compose_windowsize = "1.0.1"
jb_compose_compiler = "1.5.1"

# Koin
koin_core = "3.4.3"
koin_test = "3.4.3"
koin_compose = "3.4.6"
koin_android = "3.4.3"
koin_compose_jb = "1.0.4"

# Accompanist
accompanist = "0.32.0"

# SQLDelight
sqldelight = "2.0.0"

# Moko
moko = "0.16.1"

# AtomicFU
atomicfu = "0.22.0"

# Test
test_junit = "4.13.2"
test_runner = "1.5.2"
test_core = "1.5.0"
test_mockk = "1.13.7"
test_uiautomator = "2.2.0"
test_junitext = "1.1.5"
test_barista = "4.3.0"
test_orchestrator = "1.4.2"
test_rules = "1.5.0"

# Quality
ktlint = "0.50.0"
detekt = "1.22.0"
composerules = "0.0.26"

# License
aboutlibraries = "10.8.3"

[libraries]
# Project
android_gradle_plugin = { module = "com.android.tools.build:gradle", version.ref = "android_gradle_plugin" }
kotlin_gradle_plugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
kotlin_atomicfu = { module = "org.jetbrains.kotlinx:atomicfu-gradle-plugin", version.ref = "atomicfu" }

# General dependencies
logging = { module = "io.github.microutils:kotlin-logging", version.ref = "logging" }
logback = { module = "ch.qos.logback:logback-classic", version.ref = "logback" }
logcat = { module = "com.squareup.logcat:logcat", version.ref = "logcat" }

# KotlinX
kotlinx_coroutines_core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "kotlinx_coroutines" }
kotlinx_coroutines_test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "kotlinx_coroutines" }
kotlinx_serialization = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "kotlinx_serialization" }
kotlinx_collections_immutable = { module = "org.jetbrains.kotlinx:kotlinx-collections-immutable", version.ref = "kotlinx_collections_immutable" }
kotlinx_datetime = { module = "org.jetbrains.kotlinx:kotlinx-datetime", version.ref = "kotlinx_datetime" }

# AndroidX
androidx_core = { module = "androidx.core:core", version.ref = "core" }
androidx_appcompat = { module = "androidx.appcompat:appcompat", version.ref = "appcompat" }
androidx_material = { module = "com.google.android.material:material", version.ref = "material" }
androidx_corektx = { module = "androidx.core:core-ktx", version.ref = "corektx" }
androidx_playcore = { module = "com.google.android.play:core", version.ref = "playcore" }
androidx_datastore = { module = "androidx.datastore:datastore-preferences-core", version.ref = "datastore" }
androidx_glance = { module = "androidx.glance:glance-appwidget", version.ref = "glance" }
androidx_glance_material3 = { module = "androidx.glance:glance-material3", version.ref = "glance" }
androidx_workmanager = { module = "androidx.work:work-runtime-ktx", version.ref = "workmanager" }
androidx_lifecycle_viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel", version.ref = "lifecycle_viewmodel" }

compose_bom = { group = "androidx.compose", name = "compose-bom", version.ref = "compose_bom" }
compose_ui = { module = "androidx.compose.ui:ui" }
compose_toolingpreview = { module = "androidx.compose.ui:ui-tooling-preview" }
compose_icons = { module = "androidx.compose.material:material-icons-extended" }
compose_navigation = { module = "androidx.navigation:navigation-compose" }
compose_viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel-compose" }
compose_activity = { module = "androidx.activity:activity-compose" }
compose_material3 = { module = "androidx.compose.material3:material3" }
compose_uitest = { module = "androidx.compose.ui:ui-test" }
compose_junit4 = { module = "androidx.compose.ui:ui-test-junit4" }
compose_manifest = { module = "androidx.compose.ui:ui-test-manifest" }
compose_windowsize = { module = "androidx.compose.material3:material3-window-size-class" }

#Koin
koin_core = { module = "io.insert-koin:koin-core", version.ref = "koin_core" }
koin_android = { module = "io.insert-koin:koin-android", version.ref = "koin_android" }
koin_compose = { module = "io.insert-koin:koin-androidx-compose", version.ref = "koin_compose" }
koin_test = { module = "io.insert-koin:koin-test", version.ref = "koin_test" }
koin_compose_jb = { module = "io.insert-koin:koin-compose", version.ref = "koin_compose_jb" }

# Accompanist
accompanist_permission = { module = "com.google.accompanist:accompanist-permissions", version.ref = "accompanist" }
accompanist_material = { module = "com.google.accompanist:accompanist-navigation-material", version.ref = "accompanist" }

# SQLDelight
sqldelight_driver = { module = "app.cash.sqldelight:android-driver", version.ref = "sqldelight" }
sqldelight_native = { module = "app.cash.sqldelight:native-driver", version.ref = "sqldelight" }
sqldelight_coroutines = { module = "app.cash.sqldelight:coroutines-extensions", version.ref = "sqldelight" }

# Moko
moko_mvvm_core = { module = "dev.icerock.moko:mvvm-core", version.ref = "moko" }

# Test
test_junit = { module = "junit:junit", version.ref = "test_junit" }
test_runner = { module = "androidx.test:runner", version.ref = "test_runner" }
test_core = { module = "androidx.test:core", version.ref = "test_core" }
test_corektx = { module = "androidx.test:core-ktx", version.ref = "test_core" }
test_uiautomator = { module = "androidx.test.uiautomator:uiautomator", version.ref = "test_uiautomator" }
test_junitext = { module = "androidx.test.ext:junit", version.ref = "test_junitext" }
test_mockk = { module = "io.mockk:mockk", version.ref = "test_mockk" }
test_barista = { module = "com.adevinta.android:barista", version.ref = "test_barista" }
test_orchestrator = { module = "androidx.test:orchestrator", version.ref = "test_orchestrator" }
test_rules = { module = "androidx.test:rules", version.ref = "test_rules" }

# Quality
ktlint = { module = "com.pinterest:ktlint", version.ref = "ktlint" }
detekt = { module = "io.gitlab.arturbosch.detekt:detekt-gradle-plugin", version.ref = "detekt" }
composerules = { module = "com.twitter.compose.rules:detekt", version.ref = "composerules" }

# License
aboutlibraries_plugin = { module = "com.mikepenz.aboutlibraries.plugin:aboutlibraries-plugin", version.ref = "aboutlibraries" }
aboutlibraries_ui = { module = "com.mikepenz:aboutlibraries-compose", version.ref = "aboutlibraries" }

[bundles]
compose = ["compose.ui", "compose.toolingpreview", "compose.icons", "compose.material3"]
composetest = ["compose.uitest", "compose.junit4", "compose.manifest"]

[plugins]
kotlin_serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
dependencyanalysis = { id = "com.autonomousapps.dependency-analysis", version.ref = "dependencyanalysis" }
sqldelight = { id = "app.cash.sqldelight", version.ref = "sqldelight" }
compose = {id = "org.jetbrains.compose", version.ref = "jb_compose_compiler" }

