[versions]
# Project
android_gradle_plugin = "7.4.2"
kotlin = "1.8.10"

# Plugins
ksp = "1.8.10-1.0.9"
dependencyanalysis = "1.20.0"

# General dependencies
logging = "3.0.5"
logback = "1.2.11"
logcat = "0.1"

# KotlinX
kotlinx_coroutines = "1.6.4"
kotlinx_serialization = "1.5.0"
kotlinx_collections_immutable = "0.3.5"

# AndroidX
core = "1.10.0"
appcompat = "1.6.1"
material = "1.8.0"
constraint = "2.0.4"
corektx = "1.10.0"
playcore = "1.10.3"
datastore = "1.0.0"
glance = "1.0.0-alpha05"
workmanager = "2.8.1"
lifecycle_viewmodel = "2.6.1"

# Compose
compose = "1.4.2"
compose_compiler = "1.4.4"
compose_nav = "2.5.3"
compose_viewmodel = "2.6.1"
compose_activity = "1.7.1"
compose_material3 = "1.0.1"
compose_icons = "1.4.2"
compose_windowsize = "1.0.1"

# Room
room = "2.5.1"

# Koin
koin_core = "3.4.0"
koin_compose = "3.4.4"
koin_android = "3.4.0"

# Accompanist
accompanist = "0.30.1"

# Test
test_junit = "4.13.2"
test_runner = "1.5.2"
test_core = "1.5.0"
test_mockk = "1.13.5"
test_uiautomator = "2.2.0"
test_junitext = "1.1.5"
test_barista = "4.3.0"
test_orchestrator = "1.4.2"

# Quality
ktlint = "0.49.0"
detekt = "1.22.0"
composerules = "0.0.26"

# License
aboutlibraries = "10.6.2"

[libraries]
# Project
android_gradle_plugin = { module = "com.android.tools.build:gradle", version.ref = "android_gradle_plugin" }
kotlin_gradle_plugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }

# General dependencies
logging = { module = "io.github.microutils:kotlin-logging", version.ref = "logging" }
logback = { module = "ch.qos.logback:logback-classic", version.ref = "logback" }
logcat = { module = "com.squareup.logcat:logcat", version.ref = "logcat" }

# KotlinX
kotlinx_coroutines_core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "kotlinx_coroutines" }
kotlinx_coroutines_test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "kotlinx_coroutines" }
kotlinx_serialization = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "kotlinx_serialization" }
kotlinx_collections_immutable = { module = "org.jetbrains.kotlinx:kotlinx-collections-immutable", version.ref = "kotlinx_collections_immutable" }

# AndroidX
androidx_core = { module = "androidx.core:core", version.ref = "core" }
androidx_appcompat = { module = "androidx.appcompat:appcompat", version.ref = "appcompat" }
androidx_material = { module = "com.google.android.material:material", version.ref = "material" }
androidx_corektx = { module = "androidx.core:core-ktx", version.ref = "corektx" }
androidx_playcore = { module = "com.google.android.play:core", version.ref = "playcore" }
androidx_datastore = { module = "androidx.datastore:datastore-preferences", version.ref = "datastore" }
androidx_glance = { module = "androidx.glance:glance-appwidget", version.ref = "glance" }
androidx_workmanager = { module = "androidx.work:work-runtime-ktx", version.ref = "workmanager" }
androidx_lifecycle_viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel", version.ref = "lifecycle_viewmodel" }

compose_ui = { module = "androidx.compose.ui:ui", version.ref = "compose" }
compose_toolingpreview = { module = "androidx.compose.ui:ui-tooling-preview", version.ref = "compose" }
compose_icons = { module = "androidx.compose.material:material-icons-extended", version.ref = "compose_icons" }
compose_navigation = { module = "androidx.navigation:navigation-compose", version.ref = "compose_nav" }
compose_viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel-compose", version.ref = "compose_viewmodel" }
compose_activity = { module = "androidx.activity:activity-compose", version.ref = "compose_activity" }
compose_material3 = { module = "androidx.compose.material3:material3", version.ref = "compose_material3" }
compose_uitest = { module = "androidx.compose.ui:ui-test", version.ref = "compose" }
compose_junit4 = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "compose" }
compose_manifest = { module = "androidx.compose.ui:ui-test-manifest", version.ref = "compose" }
compose_windowsize = { module = "androidx.compose.material3:material3-window-size-class", version.ref = "compose_windowsize" }

# Room
androidx_room_runtime = { module = "androidx.room:room-runtime", version.ref = "room" }
androidx_room_compiler = { module = "androidx.room:room-compiler", version.ref = "room" }
androidx_room_ktx = { module = "androidx.room:room-ktx", version.ref = "room" }
androidx_room_test = { module = "androidx.room:room-testing", version.ref = "room" }

#Koin
koin_core = { module = "io.insert-koin:koin-core", version.ref = "koin_core" }
koin_android = { module = "io.insert-koin:koin-android", version.ref = "koin_android" }
koin_compose = { module = "io.insert-koin:koin-androidx-compose", version.ref = "koin_compose" }
koin_test = { module = "io.insert-koin:koin-test", version.ref = "koin_core" }

# Accompanist
accompanist_animation = { module = "com.google.accompanist:accompanist-navigation-animation", version.ref = "accompanist" }
accompanist_permission = { module = "com.google.accompanist:accompanist-permissions", version.ref = "accompanist" }
accompanist_material = { module = "com.google.accompanist:accompanist-navigation-material", version.ref = "accompanist" }

# Test
test_junit = { module = "junit:junit", version.ref = "test_junit" }
test_runner = { module = "androidx.test:runner", version.ref = "test_runner" }
test_core = { module = "androidx.test:core", version.ref = "test_core" }
test_corektx = { module = "androidx.test:core-ktx", version.ref = "test_core" }
test_uiautomator = { module = "androidx.test.uiautomator:uiautomator", version.ref = "test_uiautomator" }
test_junitext = { module = "androidx.test.ext:junit", version.ref = "test_junitext" }
test_mockk = { module = "io.mockk:mockk", version.ref = "test_mockk" }
test_barista = { module = "com.adevinta.android:barista", version.ref = "test_barista" }
test_orchestrator = { module = "androidx.test:orchestrator", version.ref = "test_orchestrator" }

# Quality
ktlint = { module = "com.pinterest:ktlint", version.ref = "ktlint" }
detekt = { module = "io.gitlab.arturbosch.detekt:detekt-gradle-plugin", version.ref = "detekt" }
composerules = { module = "com.twitter.compose.rules:detekt", version.ref = "composerules" }

# License
aboutlibraries_plugin = { module = "com.mikepenz.aboutlibraries.plugin:aboutlibraries-plugin", version.ref = "aboutlibraries" }
aboutlibraries_ui = { module = "com.mikepenz:aboutlibraries-compose", version.ref = "aboutlibraries" }

[bundles]
compose = ["compose.ui", "compose.toolingpreview", "compose.icons", "compose.material3"]
composetest = ["compose.uitest", "compose.junit4", "compose.manifest"]

[plugins]
kotlin_serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
dependencyanalysis = { id = "com.autonomousapps.dependency-analysis", version.ref = "dependencyanalysis" }

